certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
db @ git+https://github.com/E-commerce-Pecista/db-connection.git
ecomm @ git+https://github.com/E-commerce-Pecista/ecomm-tools
et-xmlfile==1.1.0
idna==3.6
ml @ git+https://github.com/E-commerce-Pecista/ml-interface.git
mysql-connector-python==8.3.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
print-cores @ git+https://github.com/jef-loppes-reis/print_cores
psycopg==3.1.18
psycopg-binary==3.1.18
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
six==1.16.0
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
